<html>
  <head>
    <title>AI Flow Editor Live !!!</title>
    <style>
	
		.vertical-center {
		margin: 0;
		position: absolute;
		top: 34px;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 942px;
		height: 69px;
		left: 72px;
			}
		body,td,th {
			font-weight: bold;
		}
		.button {
		  font: bold 15px Arial;
		  text-decoration: none;
		  background-color: #EEEEEE;
		  color: #333333;
		  padding: 2px 10px 2px 10px;
		  border-top: 1px solid #CCCCCC;
		  border-right: 1px solid #333333;
		  border-bottom: 1px solid #333333;
		  border-left: 1px solid #CCCCCC;
		}
		table, th, td {
		  border-collapse: collapse;
		}
		
		.container {
		   border: 1px solid #31C4F3;
		   width: 200px;
		   height: 200px;
		   position: relative;
		}
		.tag {
		   float: left;
		   position: absolute;
		   left:0px;
		   top: 10px;
		   z-index: 0;
		   background-color: #29ACDF;
		   opacity: 0.7;
		   padding: 5px;
		   color: #FFFFFF;
		   font-weight: bold;
		}
		.draw_circle{
		   float: left;
		   position: absolute;
		   left:0px;
		   top: 0px;
		   z-index: 0;
		   font-weight: bold;
		}

    </style>
    
     <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
     
     <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
     
     <script type="text/javascript">
	 	$(document).ready(function(){
			$("#selectdate").datepicker();
		});
		
	 </script>
     
     
     
     
     <script type="text/javascript">
	 
	    var item_detail = [];
	 
	 	var x = [];
		var y = [];
		var actives = [];
		var toggle = false;
		
		var numOfItem = 19;
		
		for(var i = 0; i < numOfItem; i++){
			x[i] = 10000;
			y[i] = 10000;
			actives[i] = "";
  		}
		
		var mousePosition = {x:0, y:0};
	    var text = "";
		var item_tot = [];
		var item_ok = [];
		var item_ng = [];
	
	 	window.setInterval(function(){
			$(document).ready(function() {
				$.getJSON('/get_data', function(dat) {
				  $("#getTitle").text(dat['titlename']);
				  $("#getDate").text(dat['datestring']);
				  $("#getTime").text(dat['timestring']);
				  $("#getMapImage").text(dat['mapimage']);
				  
				  for(var n=0; n<numOfItem; n++)
				  {
					  $("#getName"+(n+1).toString()).text(dat['name'+(n+1).toString()]);
					  x[n] = dat['x'+(n+1).toString()];
					  y[n] = dat['y'+(n+1).toString()];
					  actives[n] = dat['activeid'+(n+1).toString()];
					  $("#getParamOne"+(n+1).toString()).text(dat['p1'+(n+1).toString()]);
					  $("#getParamTwo"+(n+1).toString()).text(dat['p2'+(n+1).toString()]);
					  $("#getParamThree"+(n+1).toString()).text(dat['p3'+(n+1).toString()]);
					  $("#getLastUpdate"+(n+1).toString()).text(dat['lastUpdate'+(n+1).toString()]);
					  item_detail[n] = dat['name'+(n+1).toString()];
					  item_tot[n] = dat['p1'+(n+1).toString()]
					  item_ok[n] = dat['p2'+(n+1).toString()]
					  item_ng[n] = dat['p3'+(n+1).toString()]
				  }

				});
				
				Update_DrawCircle();
				
			  });
		}, 1000);
		
	  </script>	

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body bgcolor="#1A3258">

  <table width="100%" border="0">
          <tr>
          	<td width="3%" bgcolor="#0072BD"><img src="{{url_for('static', filename='static_logo_re.png')}}"></td>
            <td width="54%" valign="bottom" bgcolor="#0072BD"><div class="vertical-center"><div class="two"><h1 align="left"><font color="#FFFFFF" size="+3"><a id="getTitle"></a></font></h1></div></div></td>
            <td width="22%" align="center" valign="bottom" bgcolor="#0072BD"><div class="two"><h1 align="center"><font color="#FFFFFF">Date : <a id="getDate"></a></font></h1></div></td>
            <td width="21%" align="center" valign="bottom" bgcolor="#00053E"><div class="two"><h1 align="center"><font color="#FFFFFF" size="+4"><a id="getTime"></a></font></h1></div></td>
          </tr>
      </table>
      
      <div style="position:absolute; margin-left:150px; margin-top:20px; z-index:1">
      
          <form action="/">
              <label for="historydate"><font color="#FFFFFF">History Date:</font></label>
              <input type="date" id="#selectdate" name="historydate">
              <input type="submit">
              <input type=button onClick="parent.location='index'" value='Reset'>
          </form>
      
      </div>
      
      <div style="position:absolute; margin-left:0px; margin-top:0px; z-index:0">
      		<div class="tag">
        	
                <table width="480" height="100%">
                  <tr>
                    <td width="94"><td height="565" valign="top"><p><font size="+1" color="#FFFFFF">&nbsp;Compact AI :</font></p>
                      <table width="500" height="550" border="1">
                        <tr height="20" bgcolor="#142F67">
                          <td width="20"><div align="center"><font color="#FFFFFF">No.</font></div></td>
                          <td width="125"><div align="center"><font color="#FFFFFF">Name</font></div></td>
                          <td width="70"><div align="center"><font color="#FFFFFF">Total</font></div></td>
                          <td width="70"><div align="center"><font color="#FFFFFF">OK</font></div></td>
                          <td width="70"><div align="center"><font color="#FFFFFF">NG</font></div></td>
                          <td width="145"><div align="center"><font color="#FFFFFF">Last Update</font></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">1.</div></td>
                          <td><div align="center"><a id="getName1"></a></div></td>
                          <td><div align="center"><a id="getParamOne1"></a></div></div></td>
                          <td><div align="center"><a id="getParamTwo1"></a></div></div></td>
                          <td><div align="center"><a id="getParamThree1"></a></div></div></td>
                          <td><div align="center"><a id="getLastUpdate1"></a></div></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">2.</div></td>
                          <td><div align="center"><a id="getName2"></a></div></td>
                          <td><div align="center"><a id="getParamOne2"></a></div></td>
                          <td><div align="center"><a id="getParamTwo2"></a></div></td>
                          <td><div align="center"><a id="getParamThree2"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate2"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">3.</div></td>
                          <td><div align="center"><a id="getName3"></a></div></td>
                          <td><div align="center"><a id="getParamOne3"></a></div></td>
                          <td><div align="center"><a id="getParamTwo3"></a></div></td>
                          <td><div align="center"><a id="getParamThree3"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate3"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">4.</div></td>
                          <td><div align="center"><a id="getName4"></a></div></td>
                          <td><div align="center"><a id="getParamOne4"></a></div></td>
                          <td><div align="center"><a id="getParamTwo4"></a></div></td>
                          <td><div align="center"><a id="getParamThree4"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate4"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">5.</div></td>
                          <td><div align="center"><a id="getName5"></a></div></td>
                          <td><div align="center"><a id="getParamOne5"></a></div></td>
                          <td><div align="center"><a id="getParamTwo5"></a></div></td>
                          <td><div align="center"><a id="getParamThree5"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate5"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">6.</div></td>
                          <td><div align="center"><a id="getName6"></a></div></td>
                          <td><div align="center"><a id="getParamOne6"></a></div></td>
                          <td><div align="center"><a id="getParamTwo6"></a></div></td>
                          <td><div align="center"><a id="getParamThree6"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate6"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">7.</div></td>
                          <td><div align="center"><a id="getName7"></a></div></td>
                          <td><div align="center"><a id="getParamOne7"></a></div></td>
                          <td><div align="center"><a id="getParamTwo7"></a></div></td>
                          <td><div align="center"><a id="getParamThree7"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate7"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">8.</div></td>
                          <td><div align="center"><a id="getName8"></a></div></td>
                          <td><div align="center"><a id="getParamOne8"></a></div></td>
                          <td><div align="center"><a id="getParamTwo8"></a></div></td>
                          <td><div align="center"><a id="getParamThree8"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate8"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">9.</div></td>
                          <td><div align="center"><a id="getName9"></a></div></td>
                          <td><div align="center"><a id="getParamOne9"></a></div></td>
                          <td><div align="center"><a id="getParamTwo9"></a></div></td>
                          <td><div align="center"><a id="getParamThree9"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate9"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">10.</div></td>
                          <td><div align="center"><a id="getName10"></a></div></td>
                          <td><div align="center"><a id="getParamOne10"></a></div></td>
                          <td><div align="center"><a id="getParamTwo10"></a></div></td>
                          <td><div align="center"><a id="getParamThree10"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate10"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">11.</div></td>
                          <td><div align="center"><a id="getName11"></a></div></td>
                          <td><div align="center"><a id="getParamOne11"></a></div></td>
                          <td><div align="center"><a id="getParamTwo11"></a></div></td>
                          <td><div align="center"><a id="getParamThree11"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate11"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">12.</div></td>
                          <td><div align="center"><a id="getName12"></a></div></td>
                          <td><div align="center"><a id="getParamOne12"></a></div></td>
                          <td><div align="center"><a id="getParamTwo12"></a></div></td>
                          <td><div align="center"><a id="getParamThree12"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate12"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">13.</div></td>
                          <td><div align="center"><a id="getName13"></a></div></td>
                          <td><div align="center"><a id="getParamOne13"></a></div></td>
                          <td><div align="center"><a id="getParamTwo13"></a></div></td>
                          <td><div align="center"><a id="getParamThree13"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate13"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">14.</div></td>
                          <td><div align="center"><a id="getName14"></a></div></td>
                          <td><div align="center"><a id="getParamOne14"></a></div></td>
                          <td><div align="center"><a id="getParamTwo14"></a></div></td>
                          <td><div align="center"><a id="getParamThree14"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate14"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">15.</div></td>
                          <td><div align="center"><a id="getName15"></a></div></td>
                          <td><div align="center"><a id="getParamOne15"></a></div></td>
                          <td><div align="center"><a id="getParamTwo15"></a></div></td>
                          <td><div align="center"><a id="getParamThree15"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate15"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">16.</div></td>
                          <td><div align="center"><a id="getName16"></a></div></td>
                          <td><div align="center"><a id="getParamOne16"></a></div></td>
                          <td><div align="center"><a id="getParamTwo16"></a></div></td>
                          <td><div align="center"><a id="getParamThree16"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate16"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">17.</div></td>
                          <td><div align="center"><a id="getName17"></a></div></td>
                          <td><div align="center"><a id="getParamOne17"></a></div></td>
                          <td><div align="center"><a id="getParamTwo17"></a></div></td>
                          <td><div align="center"><a id="getParamThree17"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate17"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">18.</div></td>
                          <td><div align="center"><a id="getName18"></a></div></td>
                          <td><div align="center"><a id="getParamOne18"></a></div></td>
                          <td><div align="center"><a id="getParamTwo18"></a></div></td>
                          <td><div align="center"><a id="getParamThree18"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate18"></a></div></td>
                        </tr>
                        <tr height="25">
                          <td><div align="center">19.</div></td>
                          <td><div align="center"><a id="getName19"></a></div></td>
                          <td><div align="center"><a id="getParamOne19"></a></div></td>
                          <td><div align="center"><a id="getParamTwo19"></a></div></td>
                          <td><div align="center"><a id="getParamThree19"></a></div></td>
                          <td><div align="center"><a id="getLastUpdate19"></a></div></td>
                        </tr>
                    </table><td width="370"></td>
                  </tr>
              </table>
              </div>
              <div class="draw_circle">
              	<canvas id="myCanvas" width="1894" height="970" style="border:1px solid #d3d3d3;">Your browser does not support the HTML5 canvas tag.</canvas>
			  </div>

              <img src="{{url_for('static', filename='static_map_image.png')}}">
        
        </div> 
      
  <p>&nbsp;</p>
    
  </div>
  
  	<script type="text/javascript">
	
		function Update_DrawCircle()
		{
			var coords = [ [x[0]+12,y[0]+15], [x[1]+12,y[1]+15], [x[2]+12,y[2]+15], [x[3]+12,y[3]+15], [x[4]+12,y[4]+15], 
							[x[5]+12,y[5]+15], [x[6]+12,y[6]+15], [x[7]+12,y[7]+15], [x[8]+12,y[8]+15], [x[9]+12,y[9]+15], 
							[x[10]+12,y[10]+15], [x[11]+12,y[11]+15], [x[12]+12,y[12]+15], [x[13]+12,y[13]+15], [x[14]+12,y[14]+15], 
							[x[15]+12,y[15]+15], [x[16]+12,y[16]+15], [x[17]+12,y[17]+15], [x[18]+12,y[18]+15]];
			
			var canvas = document.getElementById('myCanvas');
			var ctx = canvas.getContext('2d');
			ctx.font = "10px Arial";
			
			canvas.addEventListener('mousemove', function (evt) {
				mousePos = getMousePos(canvas, evt);
				var message = 'Mouse Moving: ' + mousePos.x + ' , ' + mousePos.y + '        ';
				mousePosition.x = mousePos.x;
				mousePosition.y = mousePos.y
				//text = message;		
				//writeMessage(canvas, message);
			}, false);
			
			var MouseHover_Device = 1000;
			
			//ctx.fillStyle = "#DDDDDD";
			
			ctx.clearRect(0, 0, 1894, 970);
			for(var i = 0; i < coords.length; i++){
				
				ctx.beginPath();
				ctx.arc(coords[i][0], coords[i][1], 8, 0, Math.PI * 2, true);

				ctx.stroke();
				if(actives[i] === "Active")
				{
					if(toggle)
					{
						ctx.fillStyle = "#68FF00";
					}
					else{
						ctx.fillStyle = "#DDDDDD";
					}
					
				}
				else{
					ctx.fillStyle = "#DDDDDD";
				}
				ctx.fill();
				
				ctx.fillStyle = "#DE3A25";
				ctx.fillText(i + 1, coords[i][0] - 5, coords[i][1] + 4);
				
				if((parseInt(mousePosition.x) > parseInt(coords[i][0]) - 8 && parseInt(mousePosition.x) < parseInt(coords[i][0] + 8))
					&& (parseInt(mousePosition.y) > parseInt(coords[i][1]) - 8 && parseInt(mousePosition.y) < parseInt(coords[i][1] + 8)))
				{
					
					//window.alert("Hello " + i);
					MouseHover_Device = i;
					
					//mousePosition.x = 0;
					//mousePosition.y = 0;
				}
				
			}
			
			toggle = ~toggle;
			
			//var msg = 'Coords[0]: ' + coords[0][0] + ' , ' + coords[0][1];
			//writeCoords(canvas, msg);
			//writeMessage(canvas, text);
			
			if(MouseHover_Device != 1000)
			{
				writeCoords(canvas, MouseHover_Device, parseInt(mousePosition.x), parseInt(mousePosition.y));
				MouseHover_Device = 1000;
			}
		
		}
		
		function writeCoords(canvas, item_id, x , y) {
			var message = 'Device id: ' + item_id;
            var context = canvas.getContext('2d');
			
            context.clearRect(x + 15, y + 5, 170, 50);
			
			//context.lineWidth = "4";
			//context.strokeStyle = "blue";
			context.rect(x + 15, y + 5, 170, 50);
			context.stroke();
			context.fillStyle = "#9BD4F5";
			context.fill();
			
            context.font = '10pt Calibri';
            context.fillStyle = "#DE3A25";
            context.fillText(message, x + 20, y + 15);
			context.fillText('Name: ' + item_detail[item_id], x + 20, y + 35);
			if(item_tot[item_id] != null){
			context.fillText('Tot: ' + item_tot[item_id] +'; OK: ' + item_ok[item_id]  +'; NG: ' + item_ng[item_id], x + 20, y + 50); }
			
        }
		
		function writeMessage(canvas, message) {
            var context = canvas.getContext('2d');
            context.clearRect(200, 30, 600, 50);
            context.font = '10pt Calibri';
            context.fillStyle = 'blue';
            context.fillText(message, 230, 45);
        }
		
        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                x: evt.clientX - rect.left,
                y: evt.clientY - rect.top
            };
        }
		
		
	</script> 

  </body>
</html>
